// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-iconpicker/bootstrap-iconpicker/css/bootstrap-iconpicker.css';
@import '~dark-mode-switch/dark-mode.css';
@import './components/darkmode';
@import './components/cards';