// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Variables
@import "variables";

$body-bg: #f0f1f5;
$primary: #1cca50;

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-iconpicker/bootstrap-iconpicker/css/bootstrap-iconpicker.css";
@import "~dark-mode-switch/dark-mode.css";
@import "./components/darkmode";
@import "./components/cards";

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*="col-"]:not(:first-child),
.row.no-gutter [class*="col-"]:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}
