// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// Variables
@import "variables";

$body-bg: #f0f1f5;
$primary: #1cca50;
$carousel-transition-duration: 0.5s;
$font-family-sans-serif: 'Nunito Sans','Segoe UI','Roboto','Helvetica Neue','Arial','sans-serif';
$line-height-base: 1.5;

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-iconpicker/bootstrap-iconpicker/css/bootstrap-iconpicker.css";
@import "~dark-mode-switch/dark-mode.css";
@import "./components/darkmode";
@import "./components/cards";

.no-scrool-bar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
    width: 0px; 
}

.no-scrool-bar::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    scrollbar-width: none; /* Firefox */;
    -ms-overflow-style: none;  /* IE 10+ */
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*="col-"]:not(:first-child),
.row.no-gutter [class*="col-"]:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

.header-title {
    font-size: 24px;
}

.header {
    height: 80px;
}

.avatar img {
    width: 36px;
    height: 36px;
    /* display: block; */
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #00cc69;
    background: #e2e8f2;
    overflow: hidden;
}

:not(:first-child).avatar {
    //margin-left: -20px;
}

.is-offline {
    opacity: .6;
}

.device-value {
    font-size: 24px;
    font-weight: 800;
    vertical-align: text-top;
}

.device-value small {
    font-size: 14px;
    vertical-align: top;
    font-weight: 600;
}

.device-icon {
    font-size: 20px;
}

.device-container {
    line-height: 1;
}